body {
background-color: #CCFFFF;/* Background color */
background-image:url('images/logo2.png');
background-repeat: no-repeat;
background-attachment:fixed;
background-position:center;
text-align: center;
color: white ;            /* Foreground color used for text */
font-family: Droid Sans;  
font-size: 14px;
font-weight: bold;
margin: 0;      /* Amount of negative space around the outside of the body */
padding: 0;   /* Amount of negative space around the inside of the body */
}

#header h1 {
margin: 0;
padding: 0;
}
#header h1 a {
background-color: #ccc;
border-bottom: 1px solid #666;
color: #222;
display: block;
font-size: 20px;
font-weight: bold;
padding: 10px 0;
text-align: center;
text-decoration: none;
}
#header h1 a {
text-shadow: 0px 1px 1px #fff;
background-image: -webkit-gradient(linear, left top, left bottom,
from(#ccc), to(#999));
}

#nav ul{
list-style: none;
margin: 10px;
padding: 0;
}
#nav ul li a{
background-color: rgba(0,0,0,.4);
border: 1px solid #999999;
color: white;
display: block;
font-size: 17px;
font-weight: bold;
margin-bottom: -1px;
padding: 12px 10px;
text-decoration: none;
}

#nav ul li:first-child a{
-webkit-border-top-left-radius: 15px;
-webkit-border-top-right-radius: 15px;
}
#nav ul li:last-child a{
-webkit-border-bottom-left-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
}

#header ul.hide {
display: none;
}

button {

top: 4px;
left: 2px;
height: 40px;
width: 100px;
font-weight: bold;
text-align: bottom;
color: white;
text-shadow: rgba (0,0,0,0.6);
line-height: 20px;
background: url('images/contact.png') no-repeat;
background-color: rgba(0,0,0,.4);
border-radius: 8px;
}

.leftButton{
    width: 70px;
    position: absolute;
    top: 500px;
    left:150px;
    color: black;
    background: url('images/info.png') no-repeat;
    background-color: rgba(0,0,0,.4);
    text-align:center;
    background-size:30%;
}



#header div.pressed {
-webkit-border-image: url(images/contact.png) 0 8 0 8;
-moz-border-image: url(images/contact.png) 0 8 0 8;
}


.input{
width: 200px;
-moz-border-radius: 8px;
-khtml-border-radius: 8px;
-webkit-border-radius: 8px;
}

.textarea{
    width: 150px;
    height: 80px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;
    -webkit-border-radius: 8px;
}

#page ul{
list-style: none;
margin: 10px;
padding: 0;
background-color: rgba(0,0,0,.4);
}

#page ul li a{
border: 1px solid #999999;
color: white;
display:block;
font-size: 17px;
font-weight: bold;
margin-bottom: -1px;
padding: 12px 10px;
text-decoration: none;
border-radius: 15px;
}

#page p{
    color: red;
}
#page .kochu{
    color: magenta;
}

#page li:first-child a{
-webkit-border-top-left-radius: 15px;
-webkit-border-top-right-radius: 15px;
}
#page li:last-child a{
-webkit-border-bottom-left-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
}

#part1 select{ /*for appform.html*/
border-radius: 8px;
}

#part2 {
    visibility: visible;
    border-radius: 6px;
    background-color: rgba(0,0,0,.3);
}

#part3 {
    visibility: visible;
  border-radius: 5px ;
  background-color: rgba(0,0,0,.5);
}

#part4 p{
    visibility: visible;
    color: Red;
    background-color: rgba(0,0,0,.7);
}

.hide { 
    position:absolute; 
    top:-1px;
    left:-1px; 
    width:1px; 
    height:1px; 
}

#ki{
    border-radius: 10px;
    background-color: rgba(0,0,0,.6);
    color: white;
}